body, main {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#left {
  height: 100vh;
  background: #222;
  position: fixed;
  color: #eee;
}

#logo{
  padding: 0 3vw;
  height: 50vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}

h3 {
  font-family: 'Quinfo', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

#nav{
  height: 50vh;
  padding: 0;
  text-align: center;
}

.nav {
  color: #eee;
  font-size: 1.6rem;
}

.active {
  color: #555;
  background: #eee;
  font-weight: bold;
}

li a {
  color: #eee;
}

li a:hover {
  background: #ddd;
  color: #555;
}

.active a {
  color: inherit;
}

#right {
  height: 100vh;
  background: #eee;
  text-align: center;
  color: #555;
}

@font-face {
  font-family: 'Quinfo';
  src: url('fonts/Quinfo.otf');
  format('opentype');
}
